<footer class="footer">
  <div class="footer-links-container collapse" id="footer-links-container">
    <span class="img-link">
      <a class="cc-by-svg"
          href="http://creativecommons.org/licenses/by/3.0/au/deed.en"
          target="_blank"
          title="Go to Creative Commons home page">
      </a>
    </span>
    <a href="http://www.ga.gov.au/copyright"
        target="_blank"
        title="View Geoscience Australia copyright and disclaimer notice">
      <span class="hide-sm">Copyright</span><span class="show-sm">&#9400;</span> & Disclaimer
    </a>
    <a href="http://www.ga.gov.au/privacy"
        target="_blank"
        title="View Geoscience Australia privacy policy">
      Privacy
    </a>
    <a href="http://www.ga.gov.au/accessibility"
        target="_blank"
        title="View Geoscience Australia accessibility statement">
      Accessibility
    </a>
    <a href="http://www.ga.gov.au/ips"
        target="_blank"
        title="View Geoscience Australia information publication scheme agency plan">
      Info<span class="hide-sm">rmation</span> Publication Scheme
    </a>
    <a href="http://www.ga.gov.au/ips/foi"
        target="_blank"
        title="View Geoscience Australia freedom of information statement">
      Freedom of Info<span class="hide-sm">rmation</span>
    </a>
    <a href="http://www.ga.gov.au/contact-us"
        target="_blank"
        title="Contact Geoscience Australia">
      Contact<span class="hide-sm"> Us</span>
    </a>
  </div>
  <div class="footer-toggler-container" id="footer-links-toggler">
    <div class="footer-toggle-button" title="Click to show footer links">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</footer>
