<header class="header">
  <div class="header-container">
    <div class="ga-logo">
      <a href="http://www.ga.gov.au"
        target="_blank"
        title="Go to Geoscience Australia home page">
      </a>
    </div>
    <div class="positioning-logo">
      <div class="vertical-line">
        <a href="https://www.ga.gov.au/scientific-topics/positioning-navigation/positioning-australia"
          title="Go to Positioning Australia home page"
          target="_blank">
          Positioning Australia
        </a>
      </div>
    </div>
    <div class="app-title">{{ site.title }}</div>
  </div>
  <div class="horizontal-strap"></div>
</header>
