:root {
  --footer-height: 36px;
}

footer.footer {
  background-color: #2f2f2f;
  border: none;
  bottom: 0;
  display: block;
  height: var(--footer-height);
  min-height: var(--footer-height);
  padding: 0 15px;
  width: 100%;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: var(--footer-height);
}

.img-link,
.footer-links-container > a {
  color: #fff;
  font-size: 14px;
  margin: 0 15px;
}

.cc-by-svg {
  background-image: url(../img/cc-by.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 86px 16px;
  padding: 9px 43px;
}

.footer-toggler-container {
  display: none;
  padding: 5px 0;
}

.hide-sm {
  display: inline;
}

.show-sm {
  display: none;
}

@media (min-width: 768px) AND (max-width: 1100px) {
  .img-link,
  .footer-links-container > a {
    font-size: 13px;
    margin: 0 10px;
  }

  .hide-sm {
    display: none;
  }

  .show-sm {
    display: inline;
  }
}

@media (max-width: 767px) {
  footer.footer {
    height: auto;
  }

  .footer-links-container {
    display: block;
    height: auto;
    width: 100%;
  }

  .footer-links-container.collapse {
    display: none;
  }

  .img-link,
  .footer-links-container > a {
    border-bottom: 1px solid #666;
    display: block;
    margin: 0;
    padding: 5px 0;
  }

  .footer-toggler-container {
    display: block;
  }

  .footer-toggle-button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    padding: 2px 6px;
    width: 45px;
  }

  .footer-toggle-button:hover {
    background-color: #006983;
    border-color: #007bff;
  }

  .footer-toggle-button > span {
    background-color: #fff;
    border-radius: 1px;
    color: #fff;
    display: block;
    margin: 4px;
    height: 2px;
    width: 22px;
  }
}
