:root {
  --header-height: calc(var(--navbar-height) - var(--horizontal-strap-height));
}

.header {
  background-color: #fff;
  display: block;
  float: none;
  height: var(--navbar-height);
  max-height: var(--navbar-height);
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-navbar);
}

.header-container {
  background-color: #fff;
  color: #222;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: var(--header-height);
  max-height: var(--header-height);
  padding: 0 15px;
  width: 100%;
}

.ga-logo {
  margin: -10px -5px -8px 0;
}

.ga-logo > a {
  background-image: url(../img/ga-logo-inline.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 266px 65px;
  display: inline-block;
  height: var(--header-height);
  vertical-align: middle;
  width: 266px;
}

.positioning-logo {
  margin: 15px 20px 5px 25px;
  width: 140px;
}

.positioning-logo > .vertical-line {
  border-left: 2px solid #3a3a3a;
  height: 45px;
  padding-left: 20px;
}

.positioning-logo > .vertical-line > a {
  color: #3a3a3a;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 20px;
  font-weight: bold;
  height: 45px;
  letter-spacing: -1px;
  line-height: 1.4rem;
  text-decoration: none;
}

.app-title {
  color: #222;
  display: table-cell;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-top: 18px;
}

/* A horizontal strap of blue color just right below the header */
.horizontal-strap {
  background-image: linear-gradient(#082e41, #00718b);
  display: fix;
  height: var(--horizontal-strap-height);
  max-height: var(--horizontal-strap-height);
  width: 100%;
}

@media (max-width: 990px) {
  .ga-logo {
    margin-right: 0;
  }

  .ga-logo > a {
    background-size: 245px 60px;
    width: 245px;
  }

  .positioning-logo {
    margin: 20px 15px 10px 15px;
    width: 120px;
  }

  .positioning-logo > .vertical-line {
    height: 40px;
    padding-left: 15px;
  }

  .positioning-logo > .vertical-line > a {
    font-size: 18px;
    height: 40px;
    line-height: 1.3rem;
  }

  .app-title {
    font-size: 22px;
    line-height: 1;
    padding-top: 15px;
  }
}

/* Special CSS classes defined for small devices such as smart phone (landscape) */
@media (max-width: 767px) {
  .ga-logo > a {
    background-size: 205px 50px;
    width: 205px;
  }

  .positioning-logo {
    margin: 18px 15px 10px 15px;
    width: 100px;
  }

  .positioning-logo > .vertical-line {
    height: 30px;
    padding-left: 15px;
  }

  .positioning-logo > .vertical-line > a {
    font-size: 16px;
    height: 30px;
    letter-spacing: -0.5px;
    line-height: 1rem;
  }

  .app-title {
    font-size: 18px;
    padding-top: 12px;
  }
}

/* Special CSS classes defined for small devices such as smart phone (portrait) */
@media (max-width: 550px) {
  .positioning-logo {
    display: none;
  }

  .app-title {
    font-size: 16px;
    line-height: 1.2;
    margin-left: 10px;
  }
}

@media (max-width: 450px) {
  .ga-logo {
    display: none;
  }

  .app-title {
    margin: 0;
    padding: 0;
  }
}
