/* from asciidoctor-default.css */

table > thead {
  background-color: #eee;
}

table.frame-all {
  border: 1px solid #ddd;
}

table.stripes-all tr,
table.stripes-odd tr:nth-of-type(odd),
table.stripes-even tr:nth-of-type(even),
table.stripes-hover tr:hover {
  background: #f8f8f7;
}
